@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.reviews-page {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2rem;
  background: #f7faff;
}

.demo-sidebar {
  width: 18rem;
  height: 90vh;
  background: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
}

.demo-sidebar p {
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  background: #bababa;
}

.reviews-cnt {
  width: calc(100% - 18rem);
  height: calc(90 - 2rem);
  padding-left: 3rem;
}

.demo-top-component {
  width: 100%;
  height: 3rem;
  background: rgb(253, 255, 250);
}

.reviews {
  width: 100%;
  height: calc(100 - 6rem);
  margin-top: 1.5rem;
}

.reviews-title {
  color: #272848;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  font-family: "Poppins", sans-serif;
}

.reviews-list-cnt {
  width: 100%;
  height: 34.5rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
}

.review-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  border-radius: 1rem;
  background: #ffffff;
  padding: 1.5rem 2rem;
  box-shadow: 0px 4px 15px 0px #00000012;
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(213, 211, 211, 0) 91.99%,
    #d5d3d3 100%
  );
}

.profile-info-cnt {
  width: 20rem;
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-img {
  width: 5rem;
  height: 80%;
  border-radius: 0.5rem;
  object-fit: cover;
  background: #9b9b9b;
}

.profile-infos {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-name {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #2d3748;
}

.day {
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #2d3748;
}

.time-info {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #a0aac8;
}

.other-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.icon-image {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.review-cnt {
  width: 35rem;
  height: 100%;
  border-right: 1.5px solid #e7e7e7;
  border-left: 1.5px solid #e7e7e7;
  padding: 0rem 1rem;
}

.review-text {
  text-align: justify;
}
.rating-cnt {
  width: 16rem;
}
.rating-start-cnt {
  width: 80%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
