.create-blog-cnt {
  width: 100%;
  height: 35.5rem;
  background-color: #fff;
  padding: 2rem;
}

.blog-details-cnt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}

.blog-short-input-cnt {
  position: relative;
  width: 30rem;
  height: 2.5rem;
}

.blog-short-input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #e9e9e9;
  outline: none;
}

.input-placeholder {
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
  background: #ffffff;
  padding: 0 0.5rem;
  transition: all 200ms ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.text-editor-cnt {
  margin-top: 2rem;
}

.text-editor {
  height: 10rem;
}

.blog-long-input-cnt {
  width: 100%;
  height: 2.5rem;
  position: relative;
  margin-top: 4rem;
  border-radius: 0.5rem;
  border: 1px solid #e9e9e9;
}

.file-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.choose-file-label {
  position: absolute;
  right: 0;
  width: 8rem;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(216, 216, 246);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-radius: 0.5rem;
}

.absolute-file-name {
  position: absolute;
  left: 1rem;
  top: 0;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}

.btns-cnt {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  /* background: #000; */
  font-family: "Poppins", sans-serif;

  margin-top: 1rem;
}

.action-btn {
  width: 8rem;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e37a4;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.status-input-cnt {
  position: relative;
  width: 30rem;
}

.checkbox-cnt {
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.checkbox {
  border-radius: 50%;
  background: #000;
}

.select-option-cnt {
  max-width: fit-content;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.select-option-cnt p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #33344880;
}

.blogs-cnt {
  width: 100%;
  /* max-height: 200vh; */
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.bloglist-cover {
  width: 60%;
  height: 100%;
}

.widget-cnt {
  width: 35%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;

  /* background: #a6cdff; */
}

.related-post-cnt {
  width: 100%;
  max-height: fit-content;
  border-radius: 1rem;
  background: #ffffff;
  padding: 0.8rem;
  overflow: hidden;
}

.related-post-head {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9e9e9;
  margin-top: 0;
}

.widget-card {
  width: 100%;
  min-height: 5rem;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid #e9e9e9;
  flex-wrap: wrap;
}

.suggestion-List {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  /* overflow-y: scroll; */
}

.widget-img-preview {
  width: 4rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 1rem;
}

.post-details-cnt {
  width: calc(100% - 5rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-tag-time {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post-preview-tag {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.15rem 0.4rem;
  border-radius: 0.5rem;
  background: #e9e9e9;
}
.post-preview-date {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: #33344880;
}

.post-details-cnt h4 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #272848;
}

.widget-card-readMore-cnt {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.tags-widget-cnt {
  width: 100%;
  height: 15rem;
  max-height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.tags-flex {
  width: 100%;
  height: 80%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.widget-tag {
  height: fit-content;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.15rem 0.4rem;
  border-radius: 0.5rem;
  background: #e9e9e9;
}

.category-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.7rem;
}

.widget-category-cnt {
  display: flex;
  gap: 0.5rem;
}

.widget-category-cnt p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
}

.thoughts-cnt {
  width: 100%;
  height: 6rem;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 4px 49px 0px #6d6d6d1f;
  border-radius: 0.5rem;
}

.thoughts-input {
  width: 90%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem;
  padding-left: 1rem;
  background: #e6e6e6b5;
}

.add-btn {
  width: 3rem;
  height: 3rem;
  background: #272848;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-list-cnt {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  background: #f7faff;
}

.blog-card-cnt {
  width: 100%;
  height: 31rem;
  max-height: fit-content;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 4px 49px 0px #6d6d6d1f;
  background-color: #fff;
  cursor: pointer;
}

.blog-card-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.add-icon {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.blog-card-profileInfo-cnt {
  width: 80%;
  height: 2.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #d6d6d657; */
}

.profileInfo-cnt {
  width: fit-content;
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.blog-card-profile-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.profileInfo h4 {
  font-family: "Poppins", sans-serif;
  color: #333448;
  font-size: 1rem;
  font-weight: 600;
}
.profileInfo p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #33354880;
  font-family: "Poppins", sans-serif;
}

.date-info-cnt {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.blue-text {
  font-family: "Poppins", sans-serif;
  color: #0167ff;
  font-size: 0.9em;
  font-weight: 600;
}

.blog-content-preview-cnt {
  width: 80%;
  height: 5rem;
  margin-top: 1rem;
}

.blog-content-preview-cnt h4 {
  font-family: "Poppins", sans-serif;
  color: #333448;
  font-size: 1.1rem;
  font-weight: 600;
}

.blog-content-preview-cnt p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #33354880;
  font-family: "Poppins", sans-serif;
}

.readMore-cnt {
  font-family: "Poppins", sans-serif;
  color: #0167ff;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blog-cnt {
  width: 100%;
  min-height: 35rem;
}

.blog-post-cnt {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.blog-status-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.blog-status-info p {
  color: #33344880;
  font-size: 0.7rem;
}

.date-info-cnt {
  gap: 0.5rem;
}

.blog-status {
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.blog-image {
  width: 100%;
  min-height: 25rem;
  object-fit: cover;
}

.blog-description {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  color: #33344880;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: justify;
}

.social-reach-cnt {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}

.social-icon {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
  background: #c0c0c080;
}

.social-reach-cnt p {
  color: #33344880;
  font-size: 0.8rem;
  font-weight: 700;
}

.blog-tags {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.blogger-details-cnt {
  width: 100%;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
}

.profile-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.profile-bio {
  text-align: center;
}

.profile-socials-cnt {
  display: flex;
  gap: 1rem;
  width: fit-content;
}

.comments-cnt {
  margin-top: 3rem;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.comments-title {
  font-family: "Poppins", sans-serif;
  color: #2d2e3f;
  font-size: 1.1rem;
  font-weight: 600;
}

.comment-cnt {
  width: 100%;
  min-height: 8rem;
  height: fit-content;
  display: flex;
  gap: 0.5rem;
}

.comment {
  width: 80%;
  height: fit-content;
}

.comment-time-txt {
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  color: #33344880;
  font-weight: 600;
}

.comment-txt {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  color: #33344880;
  font-weight: 500;
  text-align: justify;
}

.replay-btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.post-comment-cnt {
  width: 100%;
  min-height: 20rem;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
}

.comment-top-input-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.comment-input {
  min-height: 8rem;
  margin-top: 1.5rem;
}

.comment-term-conformation-cnt{
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-top: 1rem;
}

.comment-checkbox{
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  font-weight: 600;
}