@import "../../App.css";

/* .auth-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .auth-content-container {
  position: relative;
  width: 70%;
  height: 90%;
  background: white;
  border-radius: 2rem;
  box-shadow: 1px 1px 20px 15px #d4d9e1;
  display: flex;
  overflow: hidden;
} */

/* .auth-left-cnt {
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 0;
} */
/* .auth-content-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  background: var(--card-bg-blue);
} */

/* .auth-bg-svg-cnt {
  position: relative;
  width: 90%;
  height: 80%;
  display: flex;
  overflow-y: hidden;
} */

/* .auth-bg-svg {
  position: absolute;
  right: -110%;
  width: 100%;
  height: 100%;
  scale: 0;
  opacity: 0;
  object-fit: contain;
} */

.animated-toggle-bar {
  position: relative;
  width: 4rem;
  height: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.1rem;
}

/* .circle-1 {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 5rem;
  background-color: #fff;
  position: absolute;
} */

/* .circle-2 {
  left: 1.7rem;
  top: 0rem;
}
.circle-3 {
  left: 3.3rem;
  top: 0rem;
} */

/* .circle-animated{
  position: absolute;
  left: 10px;
  top: 1;

} */

/* .auth-right-cnt {
  width: 60%;
  height: 100%;
  z-index: 5;
} */

/* .auth-content-right {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
} */

/* .auth-logo-cnt {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 1rem;
  background: var(--bg-light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .auth-logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.auth-mail-img {
  max-width: 50%;
  height: 20%;
  object-fit: contain;
  margin-top: 2rem;
}

.mail-sent-msg-cnt {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.msg-title-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
}
.msg-content-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: #666666;
  text-align: center;
  /* margin-top: 1rem; */
}

.gmail-button {
  width: 13rem;
  height: 3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-bg-blue);
  color: white;
}

/* forgot passeword component styles */

.fgrt-pswrd-top-cnt {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.frgt-pswrd-center-cnt {
  max-width: 60%;
  max-width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fgrt-pswrd-btn {
  width: 70%;
  height: 2.7rem;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  background: var(--card-bg-blue);
  padding: 1.5rem 0rem;
}

/* login component styles */

.login-form-container {
  min-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.login-form-container h2 {
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
  color: #333333;
}

/* .login-form-container-text {
  margin-bottom: 1.25rem;
  font-weight: 500;
} */

/* .  {
  width: 80%;
} */

/* .login-input-cnt {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
} */

/* .login-input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 2px solid #737373;
  background-color: #eff7ff;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: #000000;
  outline: none;
} */

.input-absolute-img {
  position: absolute;
  width: 1.4rem;
  height: 100%;
  object-fit: contain;
  right: 1rem;
  top: 0;
  cursor: pointer;
  padding: 0.3rem;
}

.line-cnt {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-cnt p {
  font-weight: 600;
}

.line {
  width: 40%;
  height: 2px;
  background: #606060;
}

.login-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
  color: #666666;
}

.login-options a {
  text-decoration: none;
  color: #004aad;
}

.login-options-flex {
  display: flex;
  height: 2rem;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}
.checkbox {
  margin-right: 0.25rem;
  padding: 0;
}

.login-form-container button[type="submit"] {
  width: 100%;
  padding: 0.625rem;
  background-color: #004aad;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.login-or {
  margin: 1.25rem 0;
  color: #666666;
}

.login-social {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.625rem;
}

.login-social-btn {
  width: 3rem;
  height: 2.9rem;
  margin: 0.3125rem;
  background: transparent;
  border: 2px solid gray;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.login-social-btn-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.8rem;
}

.login-social .login-google,
.login-social .login-apple,
.login-social .login-linkedin {
  color: #ffffff;
}

.login-social .login-microsoft {
  color: #000000;
}

.signup {
  margin-top: 1.25rem;
  color: #666666;
}

.signup a {
  text-decoration: none;
  color: #004aad;
  cursor: pointer;
}

.signup-form {
  width: 60%;
}

.signup-input-cnt {
  margin-bottom: 1rem;
}
